@media (max-width:1100px){
    .introduction{
        grid-template-columns: 8% 2fr 8%;
    }
}
@media (max-width:680px){
    .projects{
        flex-direction: column;
        align-items: center;
    }
    .project-one, .project-two{
        width:60% ;
        margin-bottom: 5vh;
    }
    .logo img{
        min-width: 80px;
    }
}