header{
  /*background-color:#dfe6e9;*/
  height: 50px;
  display:grid;
  grid-template-columns:.4fr 1fr 3fr 1fr;
}
.menu{
  /*background-color:#55efc4;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu > img{
  width: 20px;
}
.logo > img{
  width: 54px;
  
}
.search{
 /* background-color:#55efc4;*/
  display: flex;
  align-items: center;
}
.search > input{
  width: 500px;
  outline-color: #3498db;
}
.main-container{
  height:680px;
  width: 100%;
  /*background-color:#81ecec;*/
  display:grid;
  grid-template-columns:.6fr 3fr;
  grid-gap: 10px;
}
.left-nav{
  /*background-color:blue;*/
}
.right-content{
  /*background-color:#74b9ff;*/
  display:grid;
  grid-template-rows:.8fr 6fr;
}
.tags{
  /*background-color:yellow;*/
}
.video-tile{
  background-color:grey;
}
.right-icons > img{
  width: 20px;
  margin-right: 20px;
}
.right-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.first-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  /*background-color: red;*/
  align-items: center;
  padding-top: 20px;
}
.first-section a{
  width: 80%;
  height: 40px;
  /*background-color: teal;*/
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
.icon-container img{
  width: 20px;
}

.icon-container{
  /*background-color: yellow;*/
  width: 40px;
}
.first-section a:nth-child(2) img{
  width: 24px;
}
.tags{
  display: flex;
  align-items: center;
}
.chips{
  width: 100px;
  height: 40px;
  border: .5px solid #bdc3c7;
  border-radius: 25px;
  background-color:#ecf0f1;
  margin: 0 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}